<div class="page-header">
    <h1>Destroy @foo</h1>
</div>

<form>

    <div class="row">

        <div class="col-md-8">

            <table class="table table-hover table-bordered">

                <thead>
                <tr>
                    <th>ID</th>
                    <th>{{ model.id }}</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th>@one</th>
                    <td>{{ model.one }}</td>
                </tr>
                <tr>
                    <th>@two</th>
                    <td>{{ model.two }}</td>
                </tr>
                <tr>
                    <th>@three</th>
                    <td>{{ model.three }}</td>
                </tr>
                </tbody>

            </table>

        </div>

        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-body">

                    <p>Are you sure about destroying @foo?</p>

                    <div class="pull-left"></div>

                    <div class="pull-right">

                        <button class="btn btn-default" ng-click="doCancel()">No</button>
                        <button class="btn btn-danger" ng-click="doDestroy()">Yes</button>

                    </div>

                </div>

            </div>

        </div>

    </div>

</form>